    /* Css Reset Starts Here */
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    del,
    dfn,
    em,
    font,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend {
        vertical-align: baseline;
        font-family: inherit;
        font-weight: inherit;
        font-style: inherit;
        font-size: 62.5%;
        outline: 0;
        padding: 0;
        margin: 0;
        border: 0;
        text-decoration: none;
        /* border: 1px solid black; */
    }

    /* remember to define focus styles! */
    :focus {
        outline: 0;
    }

    body {
        background: white;
        line-height: 1;
        color: black;
    }

    ol,
    ul {
        list-style: none;
    }

    /* tables still need cellspacing="0" in the markup */
    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    caption,
    th,
    td {
        font-weight: normal;
        text-align: left;
    }

    /* remove possible quote marks (") from <q> & <blockquote> */
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
    }

    blockquote,
    q {
        quotes: """";
    }

    /* Css Reset Ends Here */

    body {
        font-family: 'Mulish', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    a,
    p {
        /* color: white; */
    }

    header {
        margin-bottom: 10%;
    }

    /* header img {
        float: left;
        margin-right: 20%;
        margin-top: 4%;
        width: 40%;
    } */

    header nav {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        margin-right: 10%;
    }

    header nav a {
        font-weight: 600;
        font-size: 1.4rem;
        padding: 0 2%;
    }

    header nav a:last-child {
        border: 1px solid black;
        padding: 10px;
        background-color: #3C64B1;
        color: white;
    }


    header img {
        margin-left: 10%;
        margin-top: 5%;
        width: 40%;
    }

    header .content {
        float: right;
        margin-right: 10%;
        margin-top: 13%;
        width: 25%;
    }

    header .content h1 {
        font-size: 4.4rem;
        font-weight: 700;
        margin-bottom: 5%;
        line-height: 1.5;
        color: #373F41;
    }

    header .content p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.3px;
        margin-bottom: 7%;
        color: #737B7D;
    }

    header .content a {
        border: 1px solid blue;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 2%;
        color: #3C64B1;
    }

    /* Features Section */
    .feature .content {
        margin-top: 15%;
    }

    .feature .title h2 {
        font-weight: bold;
        font-size: 44px;
        line-height: 56px;
        letter-spacing: 0.2px;
        color: #373F41;
        width: 100%;
        height: 15vh;
        margin-left: 8%;
        margin-bottom: 2%;
    }

    .feature .boxes {
        display: flex;
        width: 40%;
        margin-left: 8%;
    }

    .feature .boxes .box {
        width: 50%;
    }

    .feature .boxes .box h3 {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 50px;
        letter-spacing: 0.3px;
        color: #000000;
    }

    .feature .boxes .box p {
        font-size: 1.6rem;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: #737B7D;
        width: 70%;
    }


    .feature img {
        position: absolute;
        right: 0%;
        bottom: -80%;
        width: 40%;
        height: 70vh;
    }